html,
body {
  height: 90%;
  margin: 0;
  background-color: #f9f9f9;
}

div {
    margin-top: 6vh;
    margin-bottom: 8vh;
    height: 25vh;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 80vh;
}
